<div class="card-group text-center m-2">
    <div class="card">
        <img src="~/lib/img/banners/img1-middle-eposi1.jpg" class="card-img-top img-fluid" alt="">

        <div class="card-body">
            <h5 class="card-title">جمعه سیاه</h5>
            <p class="card-text">تا ۵۰% پولتان را پس‌انداز کنید</p>
            <a href="#">همین حالا خرید کنید</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="~/lib/img/banners/img2-middle-eposi1.jpg" class="card-img-top img-fluid" alt="">

        <div class="card-body">
            <h5 class="card-title">ارزشمند ترین خرید!</h5>
            <p class="card-text">تا ۷۰% تخفیف</p>
            <a href="#">همین حالا خرید کنید</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>

</div>
