
<div class="card-group text-center m-2">
    <div class="card">
        <img src="~/lib/img/icons/free_shipping.png" height="100" width="100" alt="free Shippng">
        <div class="card-body">
            <h5 class="card-title">ارسال رایگان به سراسر کشور</h5>
            <p class="card-text">ارسال رایگان برای کاربرانی که بیشتر از ۲۰۰ هت خرید کرده اند</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="~/lib/img/icons/money_back.png" height="100" width="100" alt="mony back">
        <div class="card-body">
            <h5 class="card-title">بازگشت محصول</h5>
            <p class="card-text">در صورت عدم رضایت از محصول امکان بازگشت هزینه محیاست</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="~/lib/img/icons/support247.png" height="100" width="100" alt="support">
        <div class="card-body">
            <h5 class="card-title">پشتیبانی آنلاین 24/7</h5>
            <p class="card-text">پشتیبانی وبسایت ۷ روز هفته / ۲۴ ساعته فعال است</p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
</div>