<div class="card text-center">
    <div class="card-header">
        تخفیفات
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
            درصورتیکه مشترک خبرنامه ما باشید و از بروزرسانی های وبسایت آگاه شوید.
            از تخفیفات ما بهره مند خواهید بود
        </p>
        <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <label class="visually-hidden" for="inlineFormInputGroupEmail">Email</label>
                <div class="input-group">
                    <div class="input-group-text">@@</div>
                    <input type="email" class="form-control" id="inlineFormInputGroupEmail" placeholder="Email">
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="card-footer text-body-secondary">
        OFF 10 %
    </div>
</div>
