@model AppQuery.MenuModel
@inject AppFramework.Application.IAuthHelper authHelper;
@using AppFramework.Infrastructure


@* <nav class="navbar navbar-expand-lg bg-light"> *@
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

    <div class="container-fluid">
        <div class="text-center mb-3">
            <a class="navbar-brand" href="#">
                <img src="~/lib/img/login-logo.png" class="img-fluid" alt="bookSale" width="64" height="64">
            </a>
            <h5 class="fw-normal">bookSale</h5>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var category in Model.ProductCategories)
                        {
                            <li>
                                <a class="dropdown-item" asp-page="./ProductCategory" asp-route-id="@category.Slug">@category.Name</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var category in Model.ProductCategories)
                        {
                            <li>
                                <a class="dropdown-item" asp-page="./ArticleCategory" asp-route-id="@category.Slug">@category.Name</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Contact">Contact Us</a>
                </li>



            </ul>
        </div>

        <div class="nav-item me-2">
            <a asp-page="/Cart" class="nav-link">
                <i class="bi bi-cart"></i>
                Cart
            </a>
        </div>

        <form class="d-flex px-2" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            @if (authHelper.IsAuthenticated())
            {
                <li class="nav-item">
                    <a class="btn btn-outline-danger" asp-page="/Account" asp-page-handler="LogOut">Logout</a>
                </li>
                @if (authHelper.CurrentAccountRole() == Roles.Administrator)
                {
                    <li class="nav-item px-2">
                        <a class="btn btn-outline-warning" href="/administration">Control Panel</a>
                    </li>
                }
            }
            else
            {
                <li class="nav-item px-2">
                    <a class="btn btn-outline-primary" asp-page="/SignIn">SignIn</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" asp-page="/SignUp">SignUp</a>
                </li>
            }
        </ul>
    </div>
</nav>