@using AppFramework.Infrastructure
@inject AppFramework.Application.IAuthHelper AuthHelper;
@*@inject IAuthHelper localizer*@
@{
    var currentAccount = AuthHelper.CurrentAccountInfo();
}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

    .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
        z-index: 1500;
    }

        .bd-mode-toggle .dropdown-menu .active .bi {
            display: block !important;
        }
</style>

<link href="~/panel/css/sidebars.css" rel="stylesheet" type="text/css" />
<script src="~/panel/js/sidebars.js"></script>

<ul class="list-unstyled ps-0">

    <li class="mb-1">
        <a asp-page="/Index" class="nav-link link-body-emphasis">
            <i class="bi bi-speedometer2"></i>
            داشبورد
        </a>
    </li>
    <li><hr class="table-group-divider"></li>

    <li class="mb-1">
        <a asp-page="/Comments/Index" class="nav-link link-body-emphasis">
            <i class="bi bi-signal"></i>
            کامنت ها
        </a>
    </li>

    @if (AuthHelper.CurrentAccountRole() == Roles.Administrator)
    {
        <li class="mb-1">
            <a asp-page="/inventory/Index" class="nav-link link-body-emphasis">
                <i class="bi bi-basket"></i>
                انبارداری
            </a>
        </li>
        <li class="mb-1">
            <a asp-page="/Shop/Orders/Index" class="nav-link link-body-emphasis">
                <i class="bi bi-cart3"></i>
                <span> سفارشات </span>
            </a>
        </li>

        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#shop-collapse" aria-expanded="false">
                <i class="bi bi-shop"></i>
                فروشگاه
            </button>
            <div class="collapse" id="shop-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a asp-page="/Shop/ProductCategories/Index" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            <i class="bi bi-diagram-2"></i>
                             دسته
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Shop/Products/Index" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            <i class="bi bi-book"></i>
                            کتاب ها
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Shop/Slides/Index" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            <i class="bi bi-sliders"></i>
                            اسلایدر
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Shop/ProductPictures/Index" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            <i class="bi bi-images"></i>
                            تصاویر
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#percent-collapse" aria-expanded="false">
                <i class="bi bi-percent"></i>
                تخفیف
            </button>
            <div class="collapse" id="percent-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a asp-page="/Discounts/CustomerDiscounts/Index" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            <i class="bi bi-person-up"></i>
                            مشتری
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Discounts/ColleagueDiscounts/Index" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            <i class="bi bi-person-badge"></i>

                            همکار
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#people-collapse" aria-expanded="false">
                <i class="bi bi-people"></i>
                کاربران
            </button>
            <div class="collapse" id="people-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a asp-page="/Accounts/Account/Index" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            <i class="bi bi-person-bounding-box"></i>
                            کاربران
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Accounts/Role/Index" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                            <i class="bi bi-r-square"></i>
                            نقش ها
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    }

    <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#articles-collapse" aria-expanded="false">
            <i class="bi bi-journals"></i>
            بلاگ
        </button>
        <div class="collapse" id="articles-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                    <a asp-page="/Blog/Articles/Index" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                        <i class="bi bi-journal-richtext"></i>
                        مقالات
                    </a>
                </li>
                <li>
                    <a asp-page="/Blog/ArticleCategories/Index" class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                        <i class="bi bi-diagram-2"></i>
                        دسته 
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <a asp-page="/Auth" asp-page-handler="Logout" class="nav-link link-body-emphasis">
            <i class="bi bi-door-open"></i>
            <span> خروج </span>
        </a>
    </li>
</ul>

