@using AppFramework.Infrastructure
@inject AppFramework.Application.IAuthHelper AuthHelper;
@*@inject IAuthHelper localizer*@
@{
    var currentAccount = AuthHelper.CurrentAccountInfo();
}
<div class="card-group text-end">
    <div class="card">
        <div class="card-body">
            <div class="pull-right">
                <img src="~/AdminTheme/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="btn btn-outline-info dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @currentAccount.FullName
                        <span class="dropdown-divider"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> Profile</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Settings</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-fullscreen"></i> Lock screen</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-eject"></i> Logout</a></li>
                    </ul>
                </div>

                <p class="small">@currentAccount.Role</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                <a asp-page="/Index" class="waves-effect active"><i class="md md-home"></i><span> داشبورد </span></a>
                </h3>
        </div>
        <div class="card-body">
            <ol class="list-group">

                <li class="list-group-item">
                    <a asp-page="/Comments/Index" class="waves-effect"><i class="md md-home"></i><span> کامنت ها </span></a>
                </li>

                @if (AuthHelper.CurrentAccountRole() == Roles.Administrator)
                {
                    <li class="list-group-item">
                        <a asp-page="/inventory/Index" class="waves-effect"><i class="md md-home"></i><span> انبارداری </span></a>
                    </li>
                    <li class="list-group-item">
                        <a asp-page="/Shop/Orders/Index" class="waves-effect"><i class="md md-home"></i><span> سفارشات </span></a>
                    </li>
                    <li class="list-group-item">
                        <a class="waves-effect"><i class="md md-mail"></i><span> فروشگاه </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a asp-page="/Shop/Slides/Index"> اسلایدر</a></li>
                            <li><a asp-page="/Shop/ProductCategories/Index">گروه محصولات</a></li>
                            <li><a asp-page="/Shop/Products/Index"> محصولات</a></li>
                            <li><a asp-page="/Shop/ProductPictures/Index">عکس محصولات</a></li>
                        </ul>
                    </li>

                    <li class="list-group-item">
                        <a class="waves-effect"><i class="md md-mail"></i><span> سیستم تخفیفات </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a asp-page="/Discounts/CustomerDiscounts/Index"> تخفیف مشتری</a></li>
                            <li><a asp-page="/Discounts/ColleagueDiscounts/Index">تخفیف همکاری</a></li>
                        </ul>
                    </li>

                    <li class="list-group-item">
                        <a class="waves-effect"><i class="md md-mail"></i><span>  مدیریت کاربران </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a asp-page="/Accounts/Account/Index">کاربران</a></li>
                            <li><a asp-page="/Accounts/Role/Index">نقش ها</a></li>
                        </ul>
                    </li>
                }
                <li class="list-group-item">
                    <a class="waves-effect"><i class="md md-mail"></i><span> سیستم بلاگینگ </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-page="/Blog/Articles/Index">مقالات</a></li>
                        <li><a asp-page="/Blog/ArticleCategories/Index">گروه مقالات</a></li>
                    </ul>
                </li>

                <li class="list-group-item">
                    <a asp-page="/Auth" asp-page-handler="Logout" class="waves-effect active"><i class="fa fa-sign-out"></i><span> خروج </span></a>
                </li>
            </ol>
        </div>
    </div>

</div>
