@page
@model EndPoint.WebApp.Pages.SignInModel
@{
}


<div class="card mb-2">
    <h3 class="card-header ">
        Sign In
    </h3>
    @if (Model.LoginMessage != null)
    {
        <div class="alert alert-danger">@Model.LoginMessage</div>
    }
    <div class="card-body">
        <form method="post">
            <div class="text-center mb-3">
                <img src="~/lib/img/login-logo.png" alt="login" width="120" height="120">
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Command.UserName" name="username" type="text" class="form-control" id="floatingUser" placeholder="username">
                <label asp-for="Command.UserName" for="floatingUser">User Name</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Command.Password" name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label asp-for="Command.Password" for="floatingPassword">Password</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        </form>
    </div>
</div>