<div class="banner-hover-area section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-hover-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-hover-banner">
                                <div class="single-hover-banner__image">
                                    <a href="shop-left-sidebar.html">
                                        <img src="~/Theme/assets/img/banners/img1-middle-eposi1.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                    <div class="single-hover-banner__content">
                                        <h4 class="small-text">جمعه سیاه</h4>
                                        <h3 class="big-text">تا ۵۰% پولتان را پس‌انداز کنید</h3>
                                        <a class="banner-link" href="shop-left-sidebar.html">همین حالا خرید کنید</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="single-hover-banner">
                                <div class="single-hover-banner__image">
                                    <a href="shop-left-sidebar.html">
                                        <img src="~/Theme/assets/img/banners/img2-middle-eposi1.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                    <div class="single-hover-banner__content">
                                        <h4 class="small-text">ارزشمند ترین خرید!</h4>
                                        <h3 class="big-text">تا ۷۰% تخفیف</h3>
                                        <a class="banner-link" href="shop-left-sidebar.html">همین حالا خرید کنید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
