<div class="newsletter-area section-space--inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 offset-lg-2">
                <div class="newsletter-wrapper">
                    <p class="small-text">بهترین پیشنهاد ها برای مشترکان</p>
                    <h3 class="title">ده درصد تخفیف مخصوص کاربران</h3>
                    <p class="short-desc">



                        درصورتیکه مشترک خبرنامه ما باشید و از بروزرسانی های وبسایت آگاه شوید.
                        از تخفیفات ما بهره مند خواهید بود



                    </p>

                    <div class="newsletter-form">
                        <form id="mc-form" class="mc-form">
                            <input type="email" placeholder="ایمیل خود را در این کادر وارد نمایید . . . " required>
                            <button type="submit" value="submit">ثبت اشتراک</button>
                        </form>

                    </div>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>
